#div_counter{
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    width:100px;
}

#counter_minus{
    float:left;
    width:25px;
    background-color: darkgrey;
}

#counter_minus:hover{
    background-color: lightgrey;
    cursor:pointer;
}

#counter_plus{
    float:right;
    width:25px;
    background-color: darkgrey;
}

#counter_plus:hover{
    background-color: lightgrey;
    cursor:pointer;
}

#counter_number{
    display:inline-block;
    margin:0 auto;
    width:50px;
    background-color: white;
}

#rating_summary{
    float:right;
    width:400px;
    height:300px;
    background-color: white;
}

/*#img_comment_summary {*/
    /*float: left;*/
    /*width: 100px;*/
    /*height: 300px;*/
/*}*/

.comment_summary{
    width:100%;
    height:400px;
    background-color: white;
}