{% extends parent_template|default:"productuser/base_user.html" %}

{% block title %}
{{ block.super }} - Logged Out
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
      <p>You've successfully logged out.</p>
      {% include "productuser/login_form.html" with login_button='Log Back In' %}
    </div>
  </div>
{% endblock %}