{% extends parent_template|default:"productuser/base_user.html" %}

{% block title %}
{{ block.super }} - Login
{% endblock %}

{% block content %}
<div class="jumbotron">
    {% include "productuser/login_form.html" %}

    <div>
        <ul>
            <li><a href="{% url 'dj-auth:create' %}">
                Register New Account
            </a></li>
            <li><a href="{% url 'dj-auth:pw_reset_start' %}">
                Forgotten password?
            </a></li>
            <li><a href="{% url 'dj-auth:resend_activation' %}">
                Lost Activation Email?</a></li>
        </ul>
    </div>
</div>
{% endblock %}