{% extends parent_template|default:"productuser/base_user.html" %}

{% block title %}
{{ block.super }} - Change Password
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
      <p>Password successfully changed.</p>
    </div>
  </div>
{% endblock %}