{% extends parent_template|default:"productuser/base_user.html" %}

{% load display_form %}

{% block title %}
{{ block.super }} - Change Password
{% endblock %}

{% block content %}
{#<div class="jumbotron">#}
{#    <form action="{% url 'dj-auth:pw_change' %}" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit" class="btn btn-primary">#}
{#            Change Password#}
{#        </button>#}
{#    </form>#}
{#</div>#}
{% url 'dj-auth:pw_change' as form_url %}
{% form form_url 'Change Password' %}
{% endblock %}