{% extends parent_template|default:"productuser/base_user.html" %}

{% block title %}
{{ block.super }} - Reset Password
{% endblock %}

{% block content %}
  <div class="jumbotron">
       <p>Reset your password by email.</p>
      <form action="{% url 'dj-auth:pw_reset_start' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
          Send Me Reset Instructions</button>
      </form>
  </div>
{% endblock %}