{% extends parent_template|default:"productuser/base_user.html" %}

{% block title %}
{{ block.super }} - Resend Activation E-Mail
{% endblock %}

{% block content %}
  <div class="jumbotron">
      <p>Resend your account activation email.</p>
      <form action="{% url 'dj-auth:resend_activation' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
          Resend Activation E-Mail</button>
      </form>
  </div>
{% endblock %}