{% extends parent_template|default:"productuser/base_user.html" %}

{% block title %}
{{ block.super }} - Account Activation Failed
{% endblock %}

{% block content %}
<div class="jumbotron">
    <p>This activation link is no longer valid</p>
</div>
{% endblock %}