{%  extends parent_template|default:"productuser/base_user.html" %}

{% block title %}
{{ block.super }}- Account Created
{% endblock %}

{% block content %}
<div class="jumbotron">
    <p>Your account has been created</p>
    <p>Please check your email for the activation link</p>
</div>
{% endblock %}