{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Store List
{% endblock %}

{% block head %}
    <style type="text/css">

        .store:hover{
            background-color: darkgrey;
            cursor:pointer;
        }
        .store_name {
            font-size: 20px;
        }
        .points_text{
            color:grey;
        }
        .points{
            width:20px;
            height:20px;
            color: white;
            background-color:#33cc33;
        }


    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.store').click(function(){
                window.document.location=$(this).data("href");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
{#            <div class="col-lg-12">#}
{#                <h1 class="page-header">Stores</h1>#}
{#            </div>#}
            {% for store in stores %}
                <div class="store col-lg-3" data-href="{{ store.get_absolute_url }}">
                    <p class="store_name">{{ store.name }}</p>
                    <div>
                        <b class="points_text">Points:</b>
                        <b class="points">{{ store.get_points }}</b>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include "pagination.html" with page=product_list %}
    </div>
{% endblock %}