{% extends parent_template|default:"cart/base_cart.html" %}
{% load staticfiles %}
{#{% block head %}#}
{#    <script type="text/javascript" src="{% static 'site/js/remove_cart_item.js' %}"></script>#}
{#{% endblock %}#}
{% block content %}
    <div class="jumbotron">
        {% if cart_items == None %}
            <h2>There are no items in your cart</h2>
        {% else %}
            <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Sum</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="table_body">
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.get_price }}</td>
                <td>
                    <form action="{% url 'remove_cart_item' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="path" value="{{ request.path }}"/>
                        <input type="hidden" name="product_name" value="{{ item.product.name }}"/>
                        <button type="submit" class="btn btn-danger" data-href="{{ item.product.name }}" id="remove_cart_item">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            <div><h2>Total Price: {{ cart.get_total_price }}</h2></div>

            <div class="form-group">
                <a class="btn btn-primary" href="{% url 'order_form' %}">Order</a>
                <form action="{% url 'cart_empty' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Empty Cart</button>
                </form>
            </div>
        {% endif %}
        {% if most_sold_products %}
            <h3>Most Sold Products</h3>
            <div class="container">
                <div class="row">
                    {% for product in most_sold_products %}
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="{{ product.get_absolute_url }}">
                                {% if product.image %}
                                    <img class="img-responsive" src="{{ product.get_image_path }}">
                                {% else %}
                                    <img class="img-responsive" src="/media/images/no-image.png">
                                {% endif  %}
                            </a>
                            <p>{{ product.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}