<ul class="pagination">
    {% if page.has_previous %}
        <li><a href="?page={{ page.previous_page_number }}">Prev</a></li>
    {% endif %}
    {% for i in page.paginator.page_range %}
        <li><a href="?page={{ i}}">{{ i }}</a></li>
    {% endfor %}
    {% if page.has_next %}
        <li><a href="?page={{ page.next_page_number }}">Next</a></li>
    {% endif %}
</ul>

{#        {% if product_list.has_other_pages %}#}
{#            <ul class="pagination">#}
{#            {% if product_list.has_previous %}#}
{#                <li><a href="{% url 'product_list' %}?page={{ product_list.previous_page_number }}">Prev</a></li>#}
{#            {% endif %}#}
{#            {% for i in product_list.paginator.page_range %}#}
{#                <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#            {% endfor %}#}
{#            {% if product_list.has_next %}#}
{#                <li><a href="{% url 'product_list' %}?page={{ product_list.next_page_number }}">Next</a></li>#}
{#            {% endif %}#}
{#            </ul>#}
{#        {% endif %}#}
