{% extends parent_template|default:"order/base_order.html" %}

{% block title %}
Order History
{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function($){
            $('.clickable-row').click(function () {
               window.document.location=$(this).data("href");
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <table class="table table-hover">
        <tr>
            <th>Datetime</th>
            <th>Status</th>
        </tr>
        {% for order in orders %}
        <tr class="clickable-row" data-href="{% url 'order_detail' order.uuid %}">
            <td> {{ order.datetime }}</td>
            <td> {{ order.shipment.get_status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}