{% extends parent_template|default:"order/base_order.html" %}

{% block title %}
Order Form
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <form action="{% url 'order_form' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
            {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">
                Order
            </button>
        </form>
    </div>
{% endblock %}