{% extends parent_template|default:"order/base_order.html" %}

{% block title %}
Order Detail
{% endblock %}


{% block content %}
<div class="jumbotron">
    <table class="table table-hover">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
        {% for item in items %}
            <tr>
                <td> {{ item.product.name}}</td>
                <td> {{ item.quantity }}</td>
                <td> {{ item.price }}</td>
                <td>
                 {% if item.product.image %}
                    <img src="{{ item.product.get_image_path }}" width="100" height="100">
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div><h3>Total Price: {{ order.total_price}}</h3></div>
</div>
{% endblock %}