{% extends parent_template|default:"order/base_order.html" %}

{% block title %}
Shipment Detail
{% endblock %}

{% block content %}
<div class="jumbotron">
    <table class="table table-hover">
        <tr>
            <th>Status</th>
            <th>City</th>
            <th>Street</th>
            <th>State</th>
            <th>Zip</th>
        </tr>
        <tr>
            <td>{{ shipment.get_status }}</td>
            <td>{{ shipment.address.city.name }}</td>
            <td>{{ shipment.address.street }}</td>
            <td>{{ shipment.address.state }}</td>
            <td>{{ shipment.address.zip }}</td>
        </tr>
    </table>
</div>
{% endblock %}
{##}
{# city=models.ForeignKey(City)#}
{#    street=models.CharField(max_length=30)#}
{#    state=models.CharField(max_length=30)#}
{#    zip=models.CharField(max_length=30)#}