{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Django Store
        {% endblock %}
    </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'site/bootstrap.css' %}">
    <script type="text/javascript" src="{% static  'site/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static  'site/jquery-3.1.1.js' %}"></script>
	<script src="{% static "site/js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static  'site/js/get_cart_item_count.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            get_cart_item_count();

            $.get()

            var ws_scheme=window.location.protocol=="https:"?"wss":"ws";
            var email=btoa($("#hdn_email").val());
            var ws_path=ws_scheme+"://"+window.location.host+"/stream/"+email+"/";
            console.log("Connecting to "+ws_path);
            var socket=new ReconnectingWebSocket(ws_path);

            socket.onmessage=function(message){
                console.log("Got message "+message.data);
                var data=JSON.parse(message.data);
                $("#cart_item_count").html(data);
                //$("#data").html('<p>'+data+'</p>');
            };

            socket.onopen=function(){}
            socket.onclose=function () {

            }
        });

    </script>


    {% block head %}{% endblock %}
</head>
<body>
    <input type="hidden" id="hdn_email" value="{{ user.email }}"/>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Django Store</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'product_list' %}">Products</a></li>
        <li><a href="{% url 'store_list' %}">Stores</a></li>
        <li><a href="{% url 'contact_create' %}">Contact</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'dj-auth:profile' %}">View Profile</a></li>
            <li><a href="{% url 'cart_detail' %}">View Cart<span id="cart_item_count" class="badge"></span></a></li>
            <li><a href="{% url 'order_history' %}">Order History</a></li>
            <li><a href="#">{{ user.email }}</a></li>
            <li><a href="{% url 'dj-auth:logout' %}?next={{ request.path }}">Log Out</a></li>
        {% else %}
            <li><a href="{% url 'dj-auth:login' %}?next={{ request.path }}">Log In</a></li>
            <li><a href="{% url 'dj-auth:create' %}">Register</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
{#  <header>#}
{#      <h1>Order Manager</h1>#}
{#  </header>#}
    {% if messages %}
    <div>
        <ul>
            {% for message in messages %}
               <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{ message }}
                </div>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>