<div class="row">
    <div class="col-md-8">
        <form
            action="{{ action }}"
            method="{{ method|default:'post' }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">
                {{ button|default:'Submit' }}
            </button>
        </form>
    </div>
</div>