{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Contact Form
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <form action="{% url 'contact_create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_subject">Subject:</label>
                <input class="form-control" id="id_subject" maxlength="100" name="subject" type="text" required />
            </div>
            <div class="form-group">
                <label for="id_message">Message:</label>
                <textarea class="form-control" cols="40" id="id_message" name="message" rows="10" required></textarea>
            </div>
            <div class="form-group">
                <label for="id_sender">Sender:</label>
                <input id="id_sender" class="form-control" name="sender" type="email" required />
            </div>
            <button type="submit" class="btn btn-primary">
                Send Mail
            </button>
        </form>
    </div>
{% endblock %}