{% extends parent_template|default:"base.html" %}
{% block title %}
{{ block.super }} - Brand Detail
{% endblock %}

{% block content %}
    <div class="form-group">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Slug</th>
            </tr>
            <tr>
                <td>{{ brand.name }}</td>
                <td>{{ brand.slug }}</td>
            </tr>
        </table>
    </div>
{% endblock %}