{% extends parent_template|default:"base.html" %}

{% load rating_tag %}

{% block title %}
{{ block.super }} - Category Detail
{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function($){
            $('.clickable-row').click(function () {
               window.document.location=$(this).data("href");
            });
        });
    </script>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Products</h1>
            </div>

            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{{ product.get_absolute_url }}">
                    {% if product.image %}
                        <img class="img-responsive" src="{{ product.get_image_path }}">
                    {% else %}
                        <img class="img-responsive" src="/media/images/no-image.png">
                    {% endif  %}
                </a>
                <p>{{ product.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}