{% extends parent_template|default:"base.html" %}
{% block title %}
{{ block.super }} - Country Detail
{% endblock %}

{% block content %}
    <div class="form-group">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <tr>
                <td>{{ country.name }}</td>
                <td>{{ country.slug }}</td>
                <td><a href="{{ country.get_update_url }}" class="btn btn-primary">Update</a></td>
                <td>
                    <form action="{% url 'country_delete' country.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}