{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Update Product
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <form action="{{ country.get_update_url }}" method="post">
            {% csrf_token %}
            <div class="form-group">
            {{ form.as_p }}
            </div>
            <button class="btn btn-primary" type="submit">
                Update Country
            </button>
        </form>
    </div>
{% endblock %}