{% extends parent_template|default:"base.html" %}
{% block title %}
{{ block.super }} - Create Country
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <form action="{% url 'country_create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
            {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">
                Add Country
            </button>
        </form>
    </div>
{% endblock %}