{% extends parent_template|default:"base.html" %}
{% block title %}
{{ block.super }} - Create Product
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <form action="{% url 'product_create' %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
            {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">
                Add Product
            </button>
        </form>
    </div>
{% endblock %}