{% extends parent_template|default:"base.html" %}
{% block title %}
{{ block.super }} - Product Detail
{% endblock %}

{% load staticfiles %}
{% load product_details_tag %}
{% load rating_tag %}

{% block head %}
    <link rel="stylesheet" href="{% static 'site/css/jquery.rateyo.css' %}"/>
    <link rel="stylesheet" href="{% static 'site/css/rating.css' %}"/>
    <script type="text/javascript" src="{% static 'site/js/jquery.rateyo.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/rating.js' %}"></script>
    <script type="text/javascript" src="{% static  'site/js/add_comment.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/get_comments.js' %}"></script>
    <link rel="stylesheet" href="{% static 'site/css/product_detail.css' %}"/>
    <script type="text/javascript">
        $(document).ready(function () {

         get_comments();


       $("#counter_minus").click(function(){
            var value=$("#counter_number").html();
            var number=parseInt(value);

            if(number!=1){
                $("#counter_number").html((number-1).toString());
                $("#hdn_quantity").val(number-1);
            }
        });

        $("#counter_plus").click(function(){
            var value=$("#counter_number").html();
            var number=parseInt(value);

            if(number!=50){
                $("#counter_number").html((number+1).toString());
                $("#hdn_quantity").val(number+1);
            }
        });


          $("#rating").on("rateyo.change",function(e,data){
                $('.hdn_rating').val(data.rating);
            });

            $("#rating").rateYo({
                rating:rating,
                numStars: 5,
                precision: 2
            });



        });
    </script>

{% endblock %}
{% block content %}
    <div class="form-group">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Image</th>
                <th>Rating</th>
                <th></th>
            </tr>
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.brand.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    {% if product.image %}
                    <img src="{{ product.get_image_path }}" width="100" height="100"/>
                    {% endif %}
                </td>
                <td>{{ product.rating|show_star|safe }}</td>
                <td>
                    {% if user.is_authenticated %}
                    <form action="{% url 'add_to_cart' product.uuid %}" method="post">
                        {% csrf_token %}

                        <div id="div_counter">
                            <div id="counter_minus">-</div>
                            <div id="counter_number">1</div>
                            <div id="counter_plus">+</div>
                        </div>

                        <input type="hidden" id="hdn_quantity" name="quantity" value="1"/>
                        <input type="hidden" name="path" value="{{ request.path }}"/>
                        <button type="submit" name="addtocart" value="AddToCart">
                            <img src="/media/images/addtocart.png" width="50" height="50"/>
                        </button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        </table>
        <div class="jumbotron">
            <h3>Specifications</h3>
            <table class="table table-striped">
                {% for item in product.details %}
                    <tr>
                        <td><small>{{ item }}</small></td>
                        <td><small>{{product.details|product_detail:item }}</small></td>
                    </tr>
                {% endfor %}
            </table>
        </div>


        <div class="jumbotron">

            <div class="comment_panel"></div>
            <h3>Add Comment</h3>

            <div class="comment_errors"></div>
            <div id="rating"></div>

            <div class="form-group">
                <label for="comment_name">Name</label>
                <input class="comment_name" name="comment_name" type="text"/>
            </div>
            <div class="form-group">
                <label for="comment_name">Title</label>
                <input class="comment_title" name="comment_title" type="text"/>
            </div>
            <div class="form-group">
                <label for="comment_name">Text</label>
                <textarea class="comment_text" name="comment_text" cols="20" rows="3"></textarea>
            </div>
            <input class="hdn_product_id" type="hidden" name="product_id" value="{{ product.uuid }}"/>
            <input type="hidden" class="hdn_rating" value="0"/>

            <button type="button" class="btn btn-primary btn_add_comment">Add Comment</button>
        </div>
    </div>
{% endblock %}
