{% extends parent_template|default:"base.html" %}

{% load rating_tag %}

{% block title %}
{{ block.super }} - Product List
{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function($){
            $('.clickable-row').click(function () {
               window.document.location=$(this).data("href");
            });
        });
    </script>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Products</h1>
            </div>

            {% for product in product_list %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{{ product.get_absolute_url }}">
                    {% if product.image %}
                        <img class="img-responsive" src="{{ product.get_image_path }}">
                    {% else %}
                        <img class="img-responsive" src="/media/images/no-image.png">
                    {% endif  %}
                </a>
                <p>{{ product.name }}</p>
            </div>
            {% endfor %}
        </div>
        {% include "pagination.html" with page=product_list %}
{#        {% if product_list.has_other_pages %}#}
{#            <ul class="pagination">#}
{#            {% if product_list.has_previous %}#}
{#                <li><a href="{% url 'product_list' %}?page={{ product_list.previous_page_number }}">Prev</a></li>#}
{#            {% endif %}#}
{#            {% for i in product_list.paginator.page_range %}#}
{#                <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#            {% endfor %}#}
{#            {% if product_list.has_next %}#}
{#                <li><a href="{% url 'product_list' %}?page={{ product_list.next_page_number }}">Next</a></li>#}
{#            {% endif %}#}
{#            </ul>#}
{#        {% endif %}#}
    </div>

    {#    <div class="form-group">#}
{#        <table class="table table-hover">#}
{#            <tr>#}
{#                <th>Name</th>#}
{#                <th>Brand</th>#}
{#                <th>Price</th>#}
{#                <th>Image</th>#}
{#                <th>Rating</th>#}
{#                <th></th>#}
{#            </tr>#}
{#            {% for product in product_list %}#}
{#            <tr class="clickable-row" data-href="{{ product.get_absolute_url }}">#}
{#                <td>{{ product.name }}</td>#}
{#                <td>{{ product.brand.name }}</td>#}
{#                <td>{{ product.price }}</td>#}
{#                <td>#}
{#                    {% if product.image %}#}
{#                    <img src="{{ product.get_image_path }}" width="100" height="100">#}
{#                    {% endif %}#}
{#                </td>#}
{#                <td>#}
{#                    {{ product.rating|show_star|safe }}#}
{#                </td>#}
{#                <td>#}
{#                    {% if user.is_authenticated %}#}
{#                    <form action="{% url 'add_to_cart' product.uuid %}" method="post">#}
{#                        {% csrf_token %}#}

{#                        <input type="hidden" name="path" value="{{ request.path }}"/>#}
{#                        <button type="submit" name="addtocart" value="AddToCart">#}
{#                            <img src="/media/images/addtocart.png" width="50" height="50"/>#}
{#                        </button>#}
{#                    </form>#}
{#                    {% endif %}#}
{#                </td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#        </table>#}
{#        {% if product_list.has_other_pages %}#}
{#            <ul class="pagination">#}
{#            {% if product_list.has_previous %}#}
{#                <li><a href="{% url 'product_list' %}?page={{ product_list.previous_page_number }}">Prev</a></li>#}
{#            {% endif %}#}
{#            {% for i in product_list.paginator.page_range %}#}
{#                <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#            {% endfor %}#}
{#            {% if product_list.has_next %}#}
{#                <li><a href="{% url 'product_list' %}?page={{ product_list.next_page_number }}">Next</a></li>#}
{#            {% endif %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    </div> #}

{% endblock %}